.catalog-content__production {
  margin-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .catalog-content__goods {
    margin-bottom: 52px;
  }

  .catalog-content__production {
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-content__goods {
    margin-bottom: 57px;
  }

  .catalog-content__production {
    margin-bottom: 102px;
  }
}
