.categories__list {
  @include list-common;
}

.categories__item {
  text-align: center;
}

.categories__link {
  box-sizing: border-box;

  display: block;
  width: 100%;
  height: 100%;
  padding: 25px 30px;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    background-color: #f9f9f9;
  }

  .categories__list {
    display: flex;
  }

  .categories__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .categories__wrapper {
    @include wrapper-common;
  }
}
