.categories__list {
  @include list-common;
}

.categories__link {
  box-sizing: border-box;

  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  padding: 26px 30px;
  padding-right: 50%;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.nav-list__interior-icon {
  position: absolute;

  top: 50%;
  right: 35px;

  transform: translateY(-30px);

  opacity: 0.5;
}

.nav-list__toys-icon {
  position: absolute;

  top: 50%;
  right: 27px;

  transform: translateY(-30px);

  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .categories {
    position: relative;

    padding: 0 50px;

    background-color: #f9f9f9;


    &::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center bottom;
      background-size: contain;
    }
  }

  .categories__list {
    display: flex;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    padding-top: 30px;
    padding-bottom: 44px;
    padding-left: 35px;

    line-height: 28px;
    letter-spacing: 0.05em;
  }

  .nav-list__interior-icon,
  .nav-list__toys-icon {
    top: 60px;
  }

  .nav-list__toys-icon {
    right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    padding: 0;
    padding-bottom: 6px;

    &::after {
      height: 34px;

      background-position: 17px bottom;
    }
  }

  .categories__link {
    box-sizing: border-box;

    padding-right: 65%;
    min-height: 119px;

    &:hover {
      transform: translateY(-5px);

      .nav-list__interior-icon {
        opacity: 0.7;
      }

      .nav-list__toys-icon {
        opacity: 0.7;
      }
    }

    &:active {
      color: #77ddc8;

      .nav-list__interior-icon {
        opacity: 0.3;
      }

      .nav-list__toys-icon {
        opacity: 0.3;
      }
    }

    &--interior {
      background-color: #59d5bc;
    }

    &--toys {
      background-color: #46c1ae;
    }
  }

  .categories__wrapper {
    @include wrapper-common;
  }
}
