.contacts {
  padding-top: 35px;
  padding-bottom: 40px;
}

.contacts__title {
  @include title-common;
  padding: 0 30px;
}

.contacts__info {
  width: 81.25%;
  margin: 0 auto;
}

.contacts__data {
  width: 50%;
}

.contacts__write-us {
  @include link-btn;

  padding: 15px 0;
  margin: 0 auto;
  width: 81.25%;
}

.contacts__map {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    padding: 0 50px;

    @include title-tablet-common;
  }

  .contacts__info {
    width: 87%;
  }

  .contacts__info tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__row {
    display: flex;
    width: 50%;
  }

  .contacts__data {
    width: auto;

    &:nth-of-type(2n+1) {
      padding-right: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    outline: 1px solid black;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 225px;
    padding-right: 50px;
  }

  .contacts__title {
    padding: 0;
    width: 50%;
  }

  .contacts__info {
    width: 50%;
    margin: 0;
    padding-left: 50px;
    margin-bottom: 50px;
  }

  .contacts__info tbody {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__row {
    margin-bottom: 30px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;
  }

  .contacts__write-us {
    width: 230px;
    margin: 0;
  }
}
