.copyright {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 47px;
  padding: 0 38px;
  min-height: 34px;
}

.copyright__developed {
  font-size: 19px;
  line-height: 34px;
  font-weight: 700;
}

.copyright__link {
  height: 34px;
}

.copyright__icon {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-right: 0;
    margin: 0;
  }

  .copyright__developed {
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    align-items: flex-start;
  }

  .copyright__link {
    &:hover {
      .copyright__icon {
        fill: #46c1ae;
      }
    }

    &:active {
      .copyright__icon {
        fill-opacity: 0.3;
      }
    }
  }

  .copyright__link:active + .copyright__developed {
    opacity: 0.3;
  }
}
