.footer-logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer-logo {
    display: block;
  }
}

@media (min-width: &$desktop-width) {
  .footer-logo {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
