.goods-card {
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding-bottom: 26px;
}

.goods-card__title {
  padding: 0 28px;
  padding-top: 19px;
  margin: 0;
  margin-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.goods-card__description {
  padding: 0 28px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 30px;
}

.goods-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.goods-card__to-cart {
  position: relative;

  display: block;
  width: 20px;
  height: 19px;
}

.goods-card__cart-icon {
  position: absolute;

  @include to-center;

  fill: #3e3b3b;
}

.goods-card__buy-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78.85%;
  margin: 0 auto;
  border-top: 1px solid #ececec;
  padding-top: 21px;
}

@media (min-width: $tablet-width) {
  .goods-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 52px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .goods-card__title {
    padding-top: 24px;
    margin-bottom: 8px;

    font-size: 20px;
  }

  .goods-card__description {
    letter-spacing: 0.06em;
  }

  .goods-card__link {
    width: 50%;
    height: 334px;
  }

  .goods-card__body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .goods-card__buy-item {
    width: 81%;
    margin-bottom: 30px;
  }

  .goods-card__price {
    letter-spacing: 0.08em;
  }
}

@media (min-width: $desktop-width) {
  .goods-card {
    box-sizing: border-box;
    width: 316px;
    flex-direction: column;
    margin: 0;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .goods-card__title {
    padding-top: 23px;
    margin-top: 0;
    align-self: center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .goods-card__link {
    width: 100%;
    height: 462px;
    margin-bottom: 0;
  }

  .goods-card__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .goods-card__info {
    width: 100%;
  }

  .goods-card__buy-item {
    box-sizing: border-box;
    width: 81.5%;
    margin: 0 auto;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 27px;
  }

  .goods-card__price {
    margin: 0;
  }

  .goods-card__to-cart {
    &:hover {
      .goods-card__cart-icon {

      }
    }

    &:active {
      .goods-card__cart-icon {

      }
    }
  }

  .goods-card__cart-icon {
    &:hover {
      fill: #63d1bb;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
