.goods {
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .goods {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    display: flex;
    justify-content: space-between;
  }
}
