.modal {
  width: 100%;
  border: 1px solid #c7c7c7;
  padding-bottom: 45px;
}

.modal__title {
  text-align: center;
  padding: 0 90px;
}

.modal__form {
  width: 81.25%;
  margin: 0 auto;
}

.modal__form-title {
  text-align: center;
}

.modal__size-selectors {
  display: flex;
  justify-content: space-between;
}

.modal__btn {
  @include link-btn;

  color: #ffffff;

  background-color: #63d1bb;
}
