.page-logo {
  order: 0;
  margin: 0 auto;
  min-width: 86px;
}

@media (min-width: $tablet-width) {
  .page-logo {
    width: 47.9042%;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-logo {
    width: 30.57%;
    order: 1;
    display: flex;
    justify-content: center;
  }
}
