.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.page-header__btn {
  position: absolute;
  top: 30px;
  right: 30px;

  min-width: 21px;
  min-height: 20px;

  @include btn-common;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }

  &--open {
    background-image: url("../img/icon-menu-open.svg");
  }
}

.page-header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px;
    padding-top: 10px;
  }

  .page-header__delivery {
    display: block;
    order: 3;
    flex-grow: 1;
    margin: 0;

    text-align: right;
  }

  .page-header__btn {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
  }

  .page-header__delivery {
    order: 4;
  }
}
