.page-header {
  padding-top: 20px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__btn {
  box-sizing: border-box;

  padding: 0;

  position: absolute;
  top: 30px;
  right: 30px;

  @include btn-common;

  &--close {
    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
  }

  &--open {
    width: 20px;
    height: 14.5px;

    background-image: url("../img/icon-menu-open.svg");
  }

  &--nojs {
    display: none;
  }
}

.page-header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;

    padding: 0;

    &--index {
      background-image: linear-gradient(to bottom, transparent 90px, #f9f9f9 90px);
    }

    &--inner {
      background-image: linear-gradient(to bottom, transparent 90px, $title-bg 90px);
    }
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-header__delivery {
    display: block;
    order: 3;
    flex-grow: 1;
    margin: 0;
    padding-right: 50px;

    text-align: right;
  }

  .page-header__btn {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
  }

  .page-header__wrapper {
    display: flex;
    width: 1150px;
    margin: auto;
  }

  .page-header__delivery {
    order: 4;
    padding-right: 50px;
  }
}
