.page-footer {
  padding: 20px 30px;

  background-color: $footer-bg;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 50px;
  }
}
