.page-logo {
  box-sizing: border-box;

  order: 0;
  margin: 0 auto;
  margin-bottom: 15px;
  min-width: 86px;
}

@media (min-width: $tablet-width) {
  .page-logo {
    width: 47.9042%;
    align-self: stretch;
    display: flex;
    margin: 0;
    padding-left: 50px;
    padding-top: 23px;
    border-bottom: 1px solid #e7e7e7;
  }
}

@media (min-width: $desktop-width) {
  .page-logo {
    box-sizing: border-box;

    width: 28.5%;
    order: 1;
    display: flex;
    justify-content: flex-start;
    min-height: 90px;
    align-items: center;
    padding-top: 7px;
    padding-left: 78px;
    border-bottom: 1px solid #e7e7e7;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
