.production {
  box-sizing: border-box;

  padding: 0 30px;
}

.production__wrapper {
  border: 1px solid #ededed;
  width: auto;
  padding-top: 10px;
  padding-bottom: 33px;
}

.production__title {
  @include title-common;
  position: relative;

  padding-left: 33.9%;
  margin-bottom: 25px;

  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.015em;

  &::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 32px;

    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production__description {
  padding-left: 32px;
  padding-right: 26px;
  margin-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
}

.production__video {
  position: relative;

  margin-bottom: 19px;

  text-align: center;
}

.nav-list__play-icon {
  fill: #63D1BB;
}

.production__play-btn {
  position: absolute;

  @include to-center;

  width: 101px;
  height: 78px;
}

.production__link {
  box-sizing: border-box;

  @include link-btn;

  width: 75%;
  padding: 15px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production {
    padding: 0 50px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
    width: auto;
    padding-top: 0;
    padding-bottom: 42px;
  }

  .production__video {
    order: 0;
    margin-bottom: 12px;
  }

  .production__title {
    display: flex;
    align-items: center;
    padding: 0 40px;
    padding-left: 105px;
    order: 1;
    margin-bottom: 21px;

    font-size: 20px;

    &::before {
      top: 0;
      left: 40px;
    }
  }

  .production__description {
    padding: 0 40px;
    order: 2;
    padding-right: 0;
    margin-bottom: 35px;

    letter-spacing: 0.09em;
    line-height: 29px;
  }

  .production__link {
    width: 86.9792%;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 455px;
    padding-bottom: 0;

    @include wrapper-common;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;

    &::before {
      display: none;
    }

    /*
    &:hover {
      &::before {
        transform: scale(1.25) translate(-50%, -50%);
      }
    }

    &:active {
      &::before {
        transform: scale(0.8) translate(-50%, -50%);
      }
    }*/
  }

  .production__play-btn {
    &:hover {
      transform: scale(1.25) translate(-40%, -40%);
    }

    &:active {
      transform: scale(0.8) translate(-60%, -60%);

      .nav-list__play-icon {
        fill: #d0f1ea;
      }
    }
  }

  .production__title {
    box-sizing: border-box;

    width: 33.33%;
    padding: 0;
    padding-top: 77px;
    padding-left: 58px;
    padding-right: 50px;

    @include title-desktop-common;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 30px;
      left: 62px;
    }
  }

  .production__description {
    box-sizing: border-box;

    width: 33.33%;
    margin-bottom: 43px;
    padding-left: 58px;
    padding-right: 10px;

    line-height: 30.5px;
  }

  .production__link {
    width: 230px;
    margin-right: 60px;
    margin-bottom: 60px;

    &:hover {
      color: #ffffff;

      background-color: #444444;
    }

    &:active {
      color: #6d6d6d;
    }
  }
}
