.production {
  box-sizing: border-box;

  padding: 0 30px;
  padding-bottom: 35px;
}

.production__wrapper {
  border: 1px solid #ededed;
  width: auto;
}

.production__title {
  @include title-common;
  position: relative;

  padding-left: 25px;

  font-size: 17px;
  line-height: 24px;
}

.production__description {
  padding: 0 28px;

  font-size: 13px;
  line-height: 24px;
}

.production__video {
  position: relative;
  text-align: center;

  &::before {
    content: "";

    position: absolute;

    @include to-center;

    width: 101px;
    height: 77px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production__link {
  @include link-btn;

  width: 77.7%;
  padding: 15px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production {

    padding: 0 50px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
    width: auto;
  }

  .production__video {
    order: 0;
  }

  .production__title {
    display: flex;
    align-items: center;
    padding: 0 40px;
    order: 1;
  }

  .production__description {
    padding: 0 40px;
    order: 2;
  }

  .production__link {
    width: 86.9792%;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 455px;

    @include wrapper-common;
}

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__title {
    box-sizing: border-box;

    width: 33.33%;
    margin-top: 40px;
    margin-bottom: 60px;

    @include title-desktop-common;
    font-size: 20px;
    line-height: 24px;
  }

  .production__description {
    box-sizing: border-box;

    width: 33.33%;
    margin-bottom: 50px;
    margin-bottom: 85px;
  }

  .production__link {
    width: 230px;
    margin-right: 60px;
    margin-bottom: 60px;
  }
}
