.social {
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  @include list-common;

  padding-top: 4px;
}

.social__item:not(:last-child) {
  margin-right: 37px;
}

.social__link {
  box-sizing: border-box;

  position: relative;

  display: flex;
  align-items: center;
  width: 23px;
  height: 28px;

  &--fb {
    justify-content: flex-start;
  }
}

.social__icon {
  fill: #221f1f;
}

@media (min-width: $tablet-width) {
  .social {
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 110px;
    padding: 0;
  }

  .social__item {
    margin-right: 0;
  }

  .social__link {
    &--fb {
      width: 23px;
      justify-content: flex-end;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__link {
    align-items: center;

    &:hover {
      .social__icon {
        fill: #46c1ae;
      }
    }

    &:active {
      .social__icon {
        opacity: 0.3;
      }
    }
  }
}
