.week-item {
  position: relative;

  padding: 0 30px;
  padding-bottom: 40px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 10px bottom;
    background-size: contain;
  }
}

.week-item__title {
  @include title-common;

  margin-bottom: 3px;
}

.week-item__subtitle {
  margin: 0;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.07em;
  color: #63d1bb;
}

.week-item__description {
  line-height: 24px;
}

.week-item__properties {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  line-height: 20px;
}

.week-item__row {
  border-bottom: 1px solid #ececec;
}

.week-item__data {
  padding: 10px 0;

  &--value {
    padding-left: 17px;
  }
}

.week-item__image {
  margin-bottom: 15px;

  text-align: center;
}

.week-item__price {
  margin: 0;
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
}

.week-item__link {
  @include link-btn;
  padding: 15px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .week-item {
    padding: 0 49px;
    padding-bottom: 68px;

    &::after {
      height: 17px;

      background-position: 23px bottom;
      background-size: contain;
    }
  }

  .week-item__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 26px;
  }

  .week-item__title {
    @include title-tablet-common;
    margin: 0;
    padding: 10px 0;
    width: 85%;
  }

  .week-item__subtitle {
    margin: 0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0em;
  }

  .week-item__info-wrapper {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
  }

  .week-item__description {
    margin-bottom: 35px;
    padding-right: 20px;

    line-height: 30px;
    letter-spacing: 0.075em;
  }

  .week-item__properties {
    width: 86.83%;
    margin-bottom: 45px;
  }

  .week-item__data {
    &--value {
      padding-left: 0;
    }
  }

  .week-item__buy-wrapper {
    width: 50%;
  }

  .week-item__image {
    width: 50%;
    float: right;
    margin-top: 20px;
  }

  .week-item__price {
    padding-left: 20.96%;
    margin-bottom: 36px;

    text-align: left;
    font-size: 20px;
  }

  .week-item__link {
    width: 86.83%;
  }
}

@media (min-width: $desktop-width) {
  .week-item__wrapper {
    position: relative;

    @include wrapper-common;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 636px;
    padding-bottom: 24px;
  }

  .week-item__title {
    @include title-desktop-common;
    padding-left: 30px;
  }

  .week-item__subtitle {
    width: 135px;
    padding-left: 20px;
  }

  .week-item__title-wrapper {
    width: auto;
    flex-direction: row-reverse;
    padding-top: 60px;
    overflow: visible;
  }

  .week-item__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;

    width: 50%;
  }

  .week-item__info-wrapper {
    box-sizing: border-box;

    order: 2;
    padding-left: 175px;
    padding-right: 60px;
    width: 50%;
  }

  .week-item__buy-wrapper {
    box-sizing: border-box;

    order: 3;
    padding-left: 175px;
    padding-right: 60px;
    width: 50%;
  }

  .week-item__description {
    margin-bottom: 47px;
    padding-right: 0;
  }

  .week-item__properties {
    margin-bottom: 98px;
    width: 100%;
  }

  .week-item__data {
    padding-bottom: 11px;
  }

  .week-item__price {
    margin-bottom: 36px;
    padding-left: 70px;
  }

  .week-item__link {
    width: 292px;

    &:hover {
      color: #ffffff;

      background-color: #444444;
    }

    &:active {
      color: #6d6d6d;
    }
  }
}
