$bg-color: #ffffff;

$categories-interior: #63d1bb;
$categories-toys: #56c3b2;
$categories-text: #ffffff;

$week-item: #63d1bb;

$footer-bg: #f1f1f1;

$title-bg: #f1f1f1;

$form-title: #63d1bb;

$modal-border: #c7c7c7;

$modal-btn: #63d1bb;
