$main-bg-color: #ffffff;
$basic-text-color: #444444;
$basic-font-size: 15px;

$footer-bg: #f1f1f1;

$title-bg: #f1f1f1;

$form-title-color: #63d1bb;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
