$main-bg-color: #ffffff;
$basic-text-color: #444444;
$basic-font-size: 15px;

$categories-interior-color: #63d1bb;
$categories-toys-color: #56c3b2;
$categories-text-color: #ffffff;

$footer-bg: #f1f1f1;

$title-bg: #f1f1f1;

$form-title-color: #63d1bb;

$modal-btn: #63d1bb;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
